html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
 }

h2 {
  font-size: 32px;
  color: #444;
}

input[type='text'], input[type='email'], input[type='password'] {
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 2px 2px #bbb;
  height: 48px;
  padding: 0 10px;
  transition: 0.3s;
  width: 100%;
}

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus {
  box-shadow: inset 0 0 2px 2px #98c4f2;
  outline: none;
}

.main-form {
  text-align: center;
  width: inherit;
}

.form-group label {
  font-weight: bold;
  margin: .5rem 0;
}

.btn {
  background: linear-gradient(#305177, #002147);
  border: 3px solid #002147;
  color: #eeeeee;
  font-size: 14px;
  font-weight: bold;
}

.btn:focus, .btn:hover {
  background: linear-gradient(#507197, #305177);
  border-color: #305177;
  color: #eeeeee;
}

.btn-main {
  padding: 16px 32px;
}

.search-button {
  border-radius: 0 5px 5px 0;
}

.link {
  color: #5884f2;
  padding: 0 10px;
  text-decoration: none;
}

.link:hover {
  color: #1844d2;
  padding: 0 10px;
  text-decoration: none;
}

.navbar {
  height: 128px;
  padding: 0 0 0 15px;

  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 64px;

    justify-content: space-between;
  }
}

.navbar div {
  margin-right: 2px;
}

.navbar div a {
  width: 8rem;
}

.logo {
  background-image: url('../images/logo_small.png');
  height: 54px;
  width: 210px;
}

#main-container {
  background-color: #e9ebee;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 5px 5px;
  min-height: calc(100% - 64px);
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  background-color: #ffffff;
  border: 1px solid #d9dbde;
  border-radius: 3px;
  padding: 4rem 1rem;
  position: relative;
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

@media screen and (min-width: 768px) {
  .inner-container {
    padding: 8rem 4rem;
    width: 50%;
  }
}

#search-form {
  width: 100%;
}

#search-input {
  border-radius: 5px 0 0 5px;
}

.general-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  width: 60%;
}

#footer {
  background-color: #002147;
  height: 128px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-logo {
  background-image: url('../images/IC-Logo.png');
  height: 105px;
  width: 144px;
}

.autocomplete {
  display: flex;
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #ccc;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #98c4f2 !important;
}

#classes {
  margin-top: 1.66em;
}

.class-info {
  background: linear-gradient(90deg,rgba(107,138,104,0) 0,rgba(107,138,104,1) 20%,rgba(107,138,104,1) 80%,rgba(107,138,104,0) 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 60px;
  overflow: hidden;
  transition: .3s;
}

.class-info:hover {
  background-color: #ccc;
  cursor: pointer;
}

.class-info p {
  padding-left: 10px;
}

.alert {
  position: absolute;
  top: 1rem;
}